
<div class="pane-group">

    <div class="pane pane-sm sidebar">

        <nav class="nav-group">

            <a
                ng-repeat="db in vm.databaseList"
                ui-sref="^.connection({ db: db.database })"
                class="nav-group-item"
                ng-class="{ active: db.database === vm.currentDb }">
                <span class="fa fa-database"></span>
                {{ db.database }}
            </a>

        </nav>

    </div>

    <div class="pane">

        <!--<div class="padded-more">-->

            <header class="toolbar toolbar-header">

                <div class="toolbar-actions">
                    <div class="btn-group">
                        <button
                            ng-repeat="icon in vm.icons"
                            class="btn btn-extra-large btn-default">
                            <div
                                class="fa fa-2x"
                                ng-class="icon.icon"></div>
                            <div>
                                {{ icon.title }}
                            </div>
                        </button>
                    </div>
                </div>



                <div class="toolbar-actions">
                    <div class="btn-group">
                        <button
                                class="btn btn-extra-large btn-default">
                            <div
                                    class="fa fa-2x fa-database"></div>
                            <div>
                                bbb
                            </div>
                        </button>
                    </div>
                </div>

            </header>

        <!--</div>-->

    </div>

</div>