<div class="layout layout--sidebar">

    <div class="menu-section">

        <div class="form-group">

            <label for="db_select">
                {{ 'SIDEBAR.DATABASE' | translate }}
            </label>

            <select
                class="form-control"
                id="db_select"
                ng-change="vm.changeDb()"
                ng-model="vm.database"
                ng-options="db as db for db in vm.databaseList"></select>

        </div>

        <div>

            <strong>
                {{ 'SIDEBAR.TABLES' | translate }}
            </strong>

            <div class="row">
                <ndb-tree
                    data="vm.tables">
                </ndb-tree>
            </div>

        </div>

    </div>

    <div class="main-section">

        <div class="header-section">

            <nav class="navbar navbar-default border--no-radius">

                <ul class="nav navbar-nav">

                    <li
                        ng-repeat="nav in vm.nav"
                        ng-class="{ active: nav.active }">

                        <a
                            href="#">

                            <span
                                class="fa-stack fa-lg">
                                <i
                                    ng-repeat="icon in nav.stack"
                                    class="fa fa-fw"
                                    ng-class="icon"></i>
                            </span>

                        </a>

                    </li>

                </ul>

            </nav>

        </div>

        <div class="body-section">

            <div ng-controller="query as vm" ng-if="vm.controller.query">

                <div class="body-section__head">

                    <ndb-query-box model="vm.query" mode="sql"></ndb-query-box>

                </div>

                <div class="body-section__divider">

                    <form class="navbar-form navbar-right">

                        <button
                            type="submit"
                            ng-click="vm.submit()"
                            class="btn btn-default">
                            {{ 'BUTTONS.SUBMIT' | translate }}
                        </button>

                    </form>

                </div>

                <div class="body-section__result">

                    <div ng-if="vm.error" class="container-fluid">

                        <div class="alert alert-danger">
                            <strong>
                                {{ 'ERROR.LAST' | translate }}
                            </strong>

                            <p>{{ vm.error.message }}</p>
                        </div>

                    </div>

                    <table class="table table-striped table-hover table-condensed">

                        <thead>
                            <tr>
                                <th ng-repeat="field in vm.output.fields">
                                    {{ field.name }}
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="row in vm.output.result">
                                <td ng-repeat="field in vm.output.fields">
                                    {{ row[field.name] }}
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>
